<div class="post-preview">
    <a href="$content{URL}">
        <h2 class="post-title">
            $content{TITLE}
        </h2>
        <h3 class="post-subtitle">
            $content{DESC}
        </h3>
    </a>
    <p class="post-meta">Posted by <a href="#">$content{POSTED_BY}</a> on $content{POST_DATE}</p>
</div>
<hr>